name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
        tox-version: [3, 4]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: pdm-project/setup-pdm@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install "tox>=${{ matrix.tox-version }}.0.0b0,<${{ matrix.tox-version }}.999" .
      - name: Test with tox
        run: |
          tox --version
          pyversion="${{ matrix.python-version }}"
          toxversion="${{ matrix.tox-version }}"
          if [[ $toxversion == "4" ]]; then
            mv pdm.tox4.lock pdm.lock;
          fi
          tox -e py${pyversion/./}-tox${toxversion}
